<ion-content [fullscreen]="true" class="bg-image" *ngIf="profile">
	<ion-grid class="max-width-col">
		<ion-row class="ion-no-padding">
			<ion-col class="ion-no-padding" size="12">
				<ion-card mode="ios">
					<ion-row class="ion-no-padding">
						<ion-col class="avatar-col ion-padding-vertical" size="auto">
							<ion-avatar>
								<img src="{{global.API_URL + '/' + profile.profile_picture }}">
							</ion-avatar>
						</ion-col>
						<ion-col class="ion-padding-vertical info-col">
							<ion-card-title>{{profile.name}}</ion-card-title>
							<p>
								<ion-row>
									<ion-col class="text-area-div">
										<b>Bio</b><br>
										{{profile.bio}}
									</ion-col>
									<ion-col size="12" size-md="3">
										<b>Phone</b><br>
										<ion-text class="contant-field">{{profile.phone}}</ion-text><br>
										<b>Email</b><br>
										<ion-text class="contant-field">{{profile.email}}</ion-text>
									</ion-col>
								</ion-row>
							</p>
						</ion-col>
					</ion-row>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12" size-md="4"  class="ion-no-padding" *ngFor="let entry of profile.album">
				<ion-card mode="ios">
					<ion-card-header class="ion-no-padding card-image">
						<img src="{{global.API_URL + '/' + entry.img }}">
						<ion-card-title>{{entry.title}}</ion-card-title>
					</ion-card-header>
					<ion-card-content class="card-content">
						{{entry.description}}
						<ion-row class="ion-no-padding">
							<ion-col class="ion-no-padding">
								<ion-icon size="large" *ngIf="!entry.featured" name="heart-outline"></ion-icon>
								<ion-icon size="large" *ngIf="entry.featured" color="danger" name="heart"></ion-icon>
							</ion-col>
							<ion-col class="ion-no-padding ion-text-right">
								{{entry.date}}
							</ion-col>
						</ion-row>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	<br><br><br>
</ion-content>
