#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
}

#container a {
    text-decoration: none;
}

.max-width-col {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px; //your max size here
}

.card-image {
	img {
		max-height: 150px;
		width: 100%;
	}
    ion-card-title {
        color: white;
        position: absolute;
        top: 115px;
		padding-left: 10px;
		font-size: large;
    }

}

.card-content {
    text-align: justify;

    ion-row {
        padding-top: 5px
    }
}

.avatar-col {
    ion-avatar {
        width: 150px;
        height: 150px;
        margin: 20px;
    }
}

.contant-field {
    color: palevioletred;
}

.text-area-div {
    white-space: pre-line !important;
}

.info-col {
    padding-top: 40px
}

ion-content {
	--background :linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,178,253,1) 100%);
	padding-bottom: 40px;
}
